<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chu </title>
</head>
<body>
    <table>
        <tr>
            <th>STT</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Quantity</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>