<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Game Form</h2>
<form action="">
    <label> ID : </label>
    <input type="text" placeholder="Nhap id">
    <label> Title :</label>
    <input type="text" placeholder="Nhap title">
    <label > Genre :</label>
    <input type="text" placeholder="Nhap genre">
    <label > Quantity : </label>
    <input type="text" placeholder="Nhap quantity">
    <label > Images :</label>
    <input type="text" placeholder="Nhap image">
    <button type="submit">Submit</button>
</form>
</body>
</html>